<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../../static/styles/main.css">
    <link rel="stylesheet" href="../../static/styles/bootstrap/css/bootstrap.css">
</head>
<body>
    <ul>
        <li>HOME</li>
        <li>About</li>
        <li>Contact</li>
        <li>News</li>
    </ul>
    <h1>THIS IS THE HOMEPAGE</h1>
    <button class="btn btn-primary">HOME</button>
</body>
</html>