html{
    scroll-behavior: smooth;
}
nav{
    background-color:lightgreen;
    display: flex;
    justify-content: end;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 20px 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
}

nav ul li a:hover{
    background-color:skyblue;
    color: black;
}

.hero-image{
    background-image: url('https://cdn.pixabay.com/photo/2016/04/22/13/44/girl-1345800_1280.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
}
.hero-text{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top: 50%;
    color: lightgreen
}
#content{
    background-color: beige;
    padding: 10px;
    border-left: 2px double skyblue;
    border-radius: 8px;

}
#content p{
    background-color: white;
    padding: 20px;
    margin: 20px;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-left: 5px solid rgb(132, 228, 132);
    border-radius: 6px;
}
footer{
    border: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: lightgreen;
    color: white;
    bottom: 0;
    left: 0;
    padding: 10px;
}
/* Start of About Page Styles */
main{
    background-color: #968888;
    padding: 10px;
    margin: 10px;
}
.about-us h1{
    text-align: center;
    font-size: 32px;
    color: lightgreen;
}
.about-us h2{
    font-size: 25px;
    color: lightgreen;
}
.about-us p{
    line-height: 1.8;
    border-radius: 8px;
}
.about-us ul{
    list-style-type:square;
    line-height: 1.5;

}
.about-us ol{
    line-height: 1.8;
    font-weight: 800;
    list-style-type: circle;
}
.about-container{
    display: flex;
    justify-content: space-between;
}
.mission{
    align-items: center;
    border: 2px solid lightgreen;
    border-radius: 8px;
    box-shadow: black;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 10px;
}
.vision{
    align-items: center;
    border: 2px solid lightgreen;
    border-radius: 8px;
    box-shadow: black;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 10px;
}
.values{
    align-items: center;
    border: 2px solid lightgreen;
    border-radius: 8px;
    box-shadow: black;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 10px;
}
.service-values{
    display: flex;
    justify-content: center;
}
.services{
    align-items: center;
    border: 2px solid lightgreen;
    border-radius: 8px;
    box-shadow: black;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 10px;
}
.contact{
    position: relative;
    /* left: 50%; */
    justify-self: center;
    border-top: 2px solid lightgreen;
    border-left: 2px solid lightgreen;
    border-right: 2px solid lightgreen;
    border-bottom: 0 solid lightgreen;
    border-radius: 8px;
    box-shadow: black;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 10px;
    width: 50%;
}
/* start of contact page style */
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.form{
    background:url("https://i.pinimg.com/1200x/54/d5/7d/54d57d87f7fd99d604ab0fb6fb5485d1.jpg");
    flex: 1;
    padding: 10px;
    max-width: 400px;
    border: none;
    border-radius: 8px;
}
.map{
    flex: 1;

}
.map iframe{
    width: 100%;
    height: 300px;
}
.form-group{
    margin-bottom: 20px;
}
.enter input, textarea{
    width: 80%;
    padding: 4px;
    border: 1px solid skyblue;
    border-radius: 4px;
}
input[type="submit"]{
    padding: 10px 20px ;
    background-color: lightgreen;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

/* table styles */
.section-table{
    width: 700px;
    margin: 20px;
    justify-self: center;
}
table{
    width: 100%;
}
thead th{
    background-color: rgb(240, 221, 186);
    color: white;
    text-align: left;
    border-radius: 5px;
}
tbody td{
    background-color: white;
    padding: 5px;
    border: 1px solid lightgreen;
}
.gallery-container{
    padding: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery-item img{
    width: 300px;
    height: 400px;
    border-radius: 8px;
}
/* boostrap styles */
.carousel-inner{
    align-items: center;
    padding: 50px;
}
.carousel-item img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
}
.carousel-item h5{
    font-weight: bold;
    color: rgb(10, 10, 10);
}
.carousel-item p{
    color: rgb(187, 170, 73);
}