h1{
    color: orange;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
form{
    align-items: center;
    background-color: #7c6c6c;
    margin: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}