*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: khaki;
    padding: 50px;
}
.content-wrapper{
     background: radial-gradient(
        circle at 35% 50%,
        #14171f 0%,
        #14141d 70%,
        #181825 100%
    );
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    align-items: center;
    max-width: 1200px;
    /* margin-left: auto;
    margin-right: auto; */
    padding-top: 1px;
    padding-bottom: 20px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 20px 20px 50px 50px rgb(153, 167, 153);
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #2a2a35;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    width: 80%;
    border: none;
    border-radius: 35px;
    padding: 10px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
}
nav ul a{
    text-decoration: none;
    color: rgb(145, 143, 143);
    transition: all 0.3s ease;
    padding: 3px;
}

nav ul a:hover{
    color: black;
    background-color: white;
    border-radius: 50px;
}
.start-btn{
    background-color: rgb(240, 185, 83);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 25px;
}
h2{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: white;
}
.drop-down span{
    font-size: 10px;
    padding-left: 0;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
}
h6{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 12px;
    font-weight: 600;
}
@keyframes color-change{
    0%{color: rgb(255, 135, 135);}
    25%{color: rgb(144, 241, 144);}
    50%{color: rgb(253, 253, 114);}
    75%{color: rgb(243, 174, 186);}
    100%{color: rgb(181, 230, 247);}
}
.content h1{
    font-family: sans-serif;
    margin: 20px;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 1px solid rgb(38, 49, 38);
    padding-bottom: 35px;
    animation-name: color-change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
p{
    font-family: sans-serif;
    color: rgb(150, 150, 150);
    padding-left: 20px;
    margin-bottom: 30px;
}
section button{
    background-color: rgb(32, 31, 31);
    padding: 10px;
    border: 1px solid rgb(80, 76, 76);
    border-radius: 35px;
}
section button:hover{
    background-color: white;
}
section button a{
    color: rgb(189, 182, 182);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}

.container{
    background: url("./images/background-content.png");
    background-size:cover;
    background-position: center;
    position: relative;
    border: none;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 50px;

}
.container-content{
    position: absolute;
    right: 0px;
    bottom: -25px;
    background:rgb(255, 255, 255,0.05);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
}
.container-content h1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 100;
}
.container-content span{
    font-size: 25px;
    background-color: orange;
    background-position: center;
    border-radius: 20px;
    width: 28px;
    height: 28px;
    text-align: center;
    padding-bottom: 10px;
}
.container-content p{
    font-family: sans-serif;
    color: rgb(207, 204, 204);
    padding-right: 20px;
    
}
@media screen and (min-width: 600px){
    body{
        width: auto;
    }
    
}